body{
    display: flex;
    margin:0;
    color: #676767;
    background-color:wheat;
    background-image:url("../images/jelly.jpg");
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.boxbox{
    margin-top: 5% ;
    background-color: rgba(255,255,255,0.8);
    width: 80%;
    height: 80%;
    min-height:750px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    border: 10px solid rgb(6, 0, 65);
    border-radius: 20px;
    overflow-y: auto;
}
h1 {
    color:chocolate;
}
img{
    width:200px;
    height: 200px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
    background-color: rgba(0, 6, 53, 0.8);
  box-sizing: border-box;
  width: 100%;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header .logo img {
  width:75px;
  height:75px;
}
header nav {
  float: right;
  
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  
  list-style: none;
  position: relative;
}

header nav ul li.sub-menu:before {
  
  content: '\f0d7';
  font-family: fontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 5px;
}

header nav ul li.active.sub-menu:before {
    content: '\f0d8';
}

header nav ul li ul {
  
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}

header nav ul li.active ul {
  
  display: block;
}
header nav ul li ul li {
  
  display: block;
  width: 200px;
}

header nav ul li a {
  
  height: 75px;
  line-height: 75px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
  
  color: #fff;
  background: #2196f3
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px)  {
  
  header {
    padding: 0 20px;
  }
  
  .menu-toggle {
    
    display: block;
  }
  
  header nav {
    
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;  
  }
  
  header nav.active {
    
    left: 0;
  } 
  
  header nav ul {
    display: block;
    text-align: center;    
  }
  
  header nav ul li a {
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  header nav ul li.active ul {
    
      position: relative;
      background: #003e6f;
  }
  
  header nav ul li ul li {
    
    width: 100%;
  }
}
.contact-form{
}
label {
font-weight:bold;
}
textarea{
min-height: 100px;
min-width: 80%;
}
button{
width: 81%;
	color: #fff;
	cursor: pointer;
  background-color: #4CAF50;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  padding: 15px;
}
button:hover {
	color: #fff !important;
	text-shadow: nthree;
  background: #04AA6D !important;
}
button:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff !important;
	background: #04AA6D !important;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.footer {
    width: 100%;
    background:#09002e;
    bottom:0px;
    position: fixed;
    text-align: center;
    color:aliceblue;
}
.team-grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 28px;
      align-items: start;
    }

    .member {
      background: #ffffff;
      border: 1px solid rgba(17, 24, 39, 0.08);
      border-radius: 16px;
      padding: 22px 18px;
      box-shadow: 0 10px 22px rgba(0, 0, 0, 0.06);
    }
    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin: 0 auto 14px;
      border: 4px solid #ffffff;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
    }

